/**@import url('http://getbootstrap.com/2.3.2/assets/css/bootstrap.css');**/
body {
  padding-top: 30px;
}

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

.container{
	margin-right: auto;
	margin-left: auto;
}

input[type=file]{
	display: none; !important
}


/* -- Background Helper Classes */

/* Use these to cuztomize the background color of a div. These are used along with tiles, or any other div you want to customize. */

 .dark-blue {
    background-color: #34495e;
}

.green {
    background-color: #45BF55;
}

.blue {
    background-color: #2980b9;
}

.orange {
    background-color: #f39c12;
}

.red {
    background-color: #e74c3c;
}

.purple {
    background-color: #8e44ad;
}

.dark-gray {
    background-color: #7f8c8d;
}

.gray {
    background-color: #95a5a6;
}

.light-gray {
    background-color: #bdc3c7;
}

.yellow {
    background-color: #f1c40f;
}

/* -- Text Color Helper Classes */

 .text-dark-blue {
    color: #34495e;
}

.text-green {
    color: #16a085;
}

.text-blue {
    color: #2980b9;
}

.text-orange {
    color: #f39c12;
}

.text-red {
    color: #e74c3c;
}

.text-purple {
    color: #8e44ad;
}

.text-faded {
    color: rgba(255,255,255,0.7);
}

/* Flex Tile Styles

  8888888 8888888888  8 8888 8 8888         8 8888888888     d888888o.   
        8 8888        8 8888 8 8888         8 8888         .`8888:' `88. 
        8 8888        8 8888 8 8888         8 8888         8.`8888.   Y8 
        8 8888        8 8888 8 8888         8 8888         `8.`8888.     
        8 8888        8 8888 8 8888         8 888888888888  `8.`8888.    
        8 8888        8 8888 8 8888         8 8888           `8.`8888.   
        8 8888        8 8888 8 8888         8 8888            `8.`8888.  
        8 8888        8 8888 8 8888         8 8888        8b   `8.`8888. 
        8 8888        8 8888 8 8888         8 8888        `8b.  ;8.`8888 
        8 8888        8 8888 8 888888888888 8 888888888888 `Y8888P ,88P'

*/

.tile {
    margin-bottom: 15px;
    padding: 15px;
    overflow: hidden;
    color: #fff;
}

.tile h1,
.tile h2,
.tile h3,
.tile h4,
.tile h5,
.tile h6 {
    margin: 0;
}

.tile h1 a,
.tile h2 a,
.tile h3 a,
.tile h4 a,
.tile h5 a,
.tile h6 a {
    color: #fff;
}


/* -- Circle Tiles */

.circle-tile {
    margin-bottom: 15px;
    text-align: center;
}

.circle-tile-heading {
    position: relative;
    width: 80px;
    height: 80px;
    margin: 0 auto -40px;
    border: 3px solid rgba(255,255,255,0.3);
    border-radius: 100%;
    color: #fff;
    transition: all ease-in-out .3s;
}

.circle-tile-heading .fa {
    line-height: 80px;
}

.circle-tile-content {
    padding-top: 50px;
}

.circle-tile-number {
    padding: 5px 0 15px;
    font-size: 26px;
    font-weight: 700;
    line-height: 1;
}

.circle-tile-description {
    text-transform: uppercase;
}

.circle-tile-footer {
    display: block;
    padding: 5px;
    color: rgba(255,255,255,0.5);
    background-color: rgba(0,0,0,0.1);
    transition: all ease-in-out .3s;
}

.circle-tile-footer:hover {
    text-decoration: none;
    color: rgba(255,255,255,0.5);
    background-color: rgba(0,0,0,0.2);
}

.circle-tile-heading.dark-blue:hover {
    background-color: #2e4154;
}

.circle-tile-heading.green:hover {
    background-color: #138f77;
}

.circle-tile-heading.orange:hover {
    background-color: #da8c10;
}

.circle-tile-heading.blue:hover {
    background-color: #2473a6;
}

.circle-tile-heading.red:hover {
    background-color: #cf4435;
}

.circle-tile-heading.purple:hover {
    background-color: #7f3d9b;
}

/* -- Time Widget Tile */

.tile-img {
    text-shadow: 2px 2px 3px rgba(0,0,0,0.9);
}

.time-widget {
    margin-top: 5px;
    overflow: hidden;
    text-align: center;
    font-size: 1.75em;
}

.time-widget-heading {
    text-transform: uppercase;
    font-size: .5em;
    font-weight: 400;
}

/* -- These image backgrounds are set to change automatically depending on the time of day. */

.morning {
    background: url(../img/widget-bg-morning.jpg) center bottom no-repeat;
    background-size: cover;
}

.afternoon {
    background: url(../img/widget-bg-afternoon.jpg) center bottom no-repeat;
    background-size: cover;
}

.evening {
    background: url(../img/widget-bg-evening.jpg) center bottom no-repeat;
    background-size: cover;
}

.midnight {
    background: url(../img/widget-bg-midnight.jpg) center bottom no-repeat;
    background-size: cover;
}

@media(min-width:768px) {
    .tile {
        margin-bottom: 30px;
    }

    .circle-tile {
        margin-bottom: 30px;
    }
}